*{
    margin: 0px;
    padding: 0px;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(211, 211, 211);
}

.layout {
    display: flex;
    width: 80vw;
    height: 94vmin;
    /* border: 2px solid black; */
}

.photo-container {
    flex-shrink: none;
    min-width: 50%;
    height: 94vmin;
    /* border: 2px solid purple; */
    background-color: #20b559;
    background-image: url(images/Guneratne_20190524_5005681_cropped.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container {
    width: 100%;
    height: 90px;
    margin-top: 28px;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
    width: 50%;
    height: 94vmin;
    /* border: 2px solid turquoise; */
}

.form-box {
    background-color: aliceblue;
    height: min-content;
}








.footer {
    height: 40px;
    background-color: rgb(49, 163, 244);
    font-family: sans-serif;
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    margin-top: auto;
    width: 100%;

}

.my-info,
.imgAttrib {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 28px;
}

.github-logo {
    width: 30px;
    margin-top: 4px;
    margin-left: 15px;
}