*{
    margin: 0px;
    padding: 0px;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(211, 211, 211);
}

.layout {
    display: flex;
    width: 80vw;
    height: 94vmin;
    /* border: 2px solid black; */
}

.photo-container {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    height: 94vmin;
    /* border: 2px solid purple; */
    background-color: #20b559;
    background-image: url(images/Guneratne_20190524_5005681_cropped.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container {
    width: 100%;
    height: 90px;
    margin-top: 28px;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;
}

.photo-cred {
    font-size: 10px;
    color: white;
    margin-top: auto;
    text-align: right;
    margin-right: 8px;
    margin-bottom: 10px;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50%;
    height: 94vmin;
    background-color: lightsteelblue;
    /* border: 2px solid turquoise; */
}

.paras {
    margin-left: 30px;
}

.form-box {
    background-color: aliceblue;
    height: min-content;
    width: 100%;
}

h4,
fieldset {
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

button[type=submit] {
    margin-left: 30px;
}





.footer {
    height: 40px;
    background-color: rgb(49, 163, 244);
    font-family: sans-serif;
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    margin-top: auto;
    width: 100%;

}

.my-info,
.imgAttrib {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 28px;
}

.github-logo {
    width: 30px;
    margin-top: 4px;
    margin-left: 15px;
}